@import url('https://api.fontshare.com/v2/css?f[]=ranade@300,500&f[]=excon@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 128 86 256;
        --color-secondary: 254 175 130;
        --color-alternative: 17 204 204;
        --color-danger: 223 59 87;
        --color-warning: 247 231 51;
    }
}
